
.container
    .header-ecored
        h1 5.	Certificaciones de calidad turística

    .card
        .card-body
            p El Certificado de Calidad Turística es un marca que se entrega a los establecimientos que cumplen con unos requisitos orientados al fortalecimiento de la gestión y sostenibilidad de las empresas. Esta marca reconocida por la Superintendencia de Industria y Comercio, se desarrolló como estrategia para generar una cultura orientada a la excelencia.
            br
            h3 Por lo tanto el Ministerio de comercio, industria y turismo ha logrado la reglamentación de estos por medio de las resoluciones 0650 de 2008 y la 5797 de 2013.
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid 

    #51
    .header-ecored
        h1 5.1 Objetivos

    .card
        .card-body
            .header-arrow.my-5.border-radius
                h3.text-center Los objetivos de la Marca de Calidad Turística según Resolución 0650, son los siguientes:
            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Mejorar la calidad de los servicios turísticos ofrecidos en Colombia. 

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Crear una herramienta informativa y comercial para diferenciar servicios turísticos que comparativamente presenten un mejor desempeño. 
                    
            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Incentivar el crecimiento del mercado nacional de este tipo de servicios.


            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Promover un cambio hacia el consumo de servicios turísticos de óptima calidad. 

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Facilitar el acceso al mercado y mejorar la imagen de los servicios turísticos.

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Incentivar el crecimiento en la prestación de servicios turísticos de calidad.

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p  Promover el uso y desarrollo de procesos, técnicas y tecnologías de calidad aplicables al sector turístico. (Icontec, s.f.)